$red: #e02020;
$green: #44d7b6;
$coolGrey: #6b717c;
$bezier: cubic-bezier(0.23, 1, 0.32, 1);

:root {
  font-family: Arial, Helvetica, sans-serif;
  color: $coolGrey;
}

h1 {
  font-weight: 500;
  font-size: 42px;
  text-align: center;
  color: rgba($coolGrey, 0.3);
}

.userName {
  font-size: 36px;
  font-weight: 200;
  color: $coolGrey;
}

.actionBtns {
  display: flex;
  justify-content: space-around;
  margin: 16px 0;

  .btn {
    color: white;
    font-size: 22px;
    cursor: pointer;
    background-color: #ddd;
    width: 100%;
    margin: 4px;
    padding: 16px;
    border-radius: 6px;
    transition: background-color 0.5s $bezier;
    &.inactive {
      background-color: rgba(#000, 0.2);
    }
  }
  .btn--distrust {
    background-color: rgba($red, 0.5);
    &:hover {
      background-color: rgba($red, 0.7);
    }
    &.active {
      background-color: rgba($red, 0.8);
    }
  }
  .btn--neutral {
    background-color: rgba(#000, 0.35);
    &:hover {
      background-color: rgba(#000, 0.55);
    }
    &.active {
      background-color: rgba(#000, 0.6);
    }
  }
  .btn--trust {
    background-color: rgba($green, 0.6);
    &:hover {
      background-color: rgba($green, 0.8);
    }
    &.active {
      background-color: rgba($green, 0.95);
    }
  }
}

.avatarPager {
  display: flex;
  justify-content: center;
  align-items: center;

  .chevron {
    cursor: pointer;
    font-size: 80px;
    color: #ccc;
    transition: transform 0.5s $bezier;
    transition: color 0.5s $bezier;
    &:hover {
      transform: scale(1.2, 1.2);
      color: #999;
    }
  }
  .avatar {
    padding: 16px;

    img {
      border-radius: 50%;
      width: 300px;
      height: 300px;
      box-sizing: border-box;
      text-align: center;
      vertical-align: middle;
      object-fit: cover;
      margin: auto;
      box-shadow: 0 0 10px 5px rgba(#000, 0.07);
    }
  }
}
.metricsWrapper {
  .thermometerContainer {
    padding-top: 16px;

    .thermometerWrapper {
      position: relative;
      width: 80%;
      margin: auto;
      .thermometer {
        border-radius: 6px;
        height: 8px;
        width: 100%;
        background: linear-gradient(to right, rgba($red, 0.6) 0%, rgba(#000, 0.2) 50%, rgba($green, 0.6) 80%);
      }
      .pointer {
        font-size: 70px;
        position: absolute;
        left: 33%;
        top: -18px;
        color: #555;
      }
    }
  }
  .scoreWrapper {
    margin-top: 32px;
    .score {
      color: $coolGrey;
      font-size: 70px;
    }
    .scoreSubtitle {
      color: rgba($coolGrey, 0.8);
      font-size: 30px;
    }
  }
  .detailsWrapper {
    width: 80%;
    margin: auto;

    margin-bottom: 24px;
    .detailsHeader {
      border-bottom: 1px solid rgba($coolGrey, 0.5);
      padding: 24px 16px 8px 16px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      transition: color 0.4s $bezier;
      .detailsHeader__left {
        display: flex;
        align-items: center;
      }
      .detailsHeader__right {
        color: rgba($coolGrey, 0.7);
        text-decoration: underline;
        // &:hover {
        //   text-decoration: underline;
        // }
      }
      > * {
        cursor: pointer;
        &:hover {
          // transform: scale(1.2, 1.2);
          color: #999;
        }
      }

      .avatar {
        padding: 16px;
        img {
          border-radius: 50%;
          width: 300px;
          height: 300px;
          box-sizing: border-box;
          text-align: center;
          vertical-align: middle;
          object-fit: cover;
          margin: auto;
        }
      }
    }
    .metricsWrapper {
      .thermometerContainer {
        padding-top: 16px;

        .thermometerWrapper {
          position: relative;
          width: 80%;
          margin: auto;
          .thermometer {
            border-radius: 6px;
            height: 8px;
            width: 100%;
            background: linear-gradient(to right, rgba($red, 0.6) 0%, rgba(#000, 0.2) 50%, rgba($green, 0.6) 80%);
          }
          .pointerWrapper {
            .pointer {
              font-size: 70px;
              position: absolute;
              top: -18px;
              color: #555;
            }
          }
        }
      }
    }
    .detailsContent {
      padding: 16px;
      text-align: left;
    }
  }
}
