<h1>Do you trust this person?</h1>
<ng-container *ngFor="let user of users; let i = index">
  <div *ngIf="i === currentIndex && user">
    <!-- [@slowFadeAnimation]="isPaging ? 'out' : 'in'" -->
    <div class="userName">{{ user.name }}</div>
    <!-- BUTTONS -->
    <div class="actionBtns">
      <div
        class="btn btn--distrust"
        (click)="submitVote(-1)"
        [class.active]="
          (hasVotedOnUser && user.vote === -1) ||
          (!hasVotedOnUserThisSession && user.vote === 0)
        "
        [class.inactive]="
          (hasVotedOnUser && user.vote !== -1) ||
          (hasVotedOnUserThisSession && user.vote === 0)
        "
      >
        Distrust
      </div>
      <div
        class="btn btn--neutral"
        (click)="submitVote(0)"
        [class.active]="hasVotedOnUserThisSession && user.vote === 0"
        [class.inactive]="hasVotedOnUser && user.vote !== 0"
      >
        Neutral
      </div>
      <div
        class="btn btn--trust"
        (click)="submitVote(1)"
        [class.active]="
          (hasVotedOnUser && user.vote === 1) ||
          (!hasVotedOnUserThisSession && user.vote === 0)
        "
        [class.inactive]="
          (hasVotedOnUser && user.vote !== 1) ||
          (hasVotedOnUserThisSession && user.vote === 0)
        "
      >
        Trust
      </div>
    </div>
    <!-- AVATAR PAGER -->
    <div class="avatarPager">
      <i class="chevron material-icons" (click)="page(-1)"
        >keyboard_arrow_left</i
      >
      <div class="avatar" [@fadeAnimation]="isPaging ? 'out' : 'in'">
        <img [src]="user.avatar" />
      </div>
      <i class="chevron material-icons" (click)="page(1)"
        >keyboard_arrow_right</i
      >
    </div>
    <!-- SCORE -->
    <div class="scoreWrapper">
      <!-- METRICS -->
      <div class="metricsWrapper">
        <!-- THERMOMETER -->
        <div class="thermometerContainer">
          <div class="thermometerWrapper">
            <div class="thermometer"></div>

            <!-- [@pointerSlideAnimation]="!hasRecalculated ? 'current' : 'new'" -->
            <div class="pointerWrapper">
              <i
                class="material-icons pointer"
                [style.left.%]="trustService.getScore(user) * 94"
                >arrow_drop_up</i
              >
            </div>
          </div>
        </div>
        <!-- SCORE -->
        <div class="scoreWrapper">
          <div class="score">
            {{ trustService.getScore(user) | number: "0.1-3" | percent }}
          </div>
          <div class="scoreSubtitle">Trustworthy</div>
        </div>

        <!-- DETAILS -->
        <div class="detailsWrapper">
          <div class="detailsHeader">
            <div
              class="detailsHeader__left"
              (click)="showDetails = !showDetails"
            >
              <i *ngIf="showDetails" class="material-icons"
                >keyboard_arrow_down</i
              >
              <i *ngIf="!showDetails" class="material-icons"
                >keyboard_arrow_right</i
              >
              <span>Details</span>
            </div>
            <div class="detailsHeader__right" (click)="switchView('tree')">
              See visualization
            </div>
          </div>
          <div class="detailsContent" *ngIf="showDetails">
            <div class="detailsTier">1st degree friends</div>
            <div class="detailsTier">2nd degree friends</div>
            <div class="detailsTier">3rd degree friends</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
