<div class="verification__unlock" *ngIf="!(verificationService.did$ | async)">
  <p>
    Please wait a moment for uPort modal to appear.
  </p>
</div>

<div
  class="verification__delegate"
  *ngIf="
    (verificationService.did$ | async) &&
    (verificationService.addingDelegate$ | async)
  "
>
  <p>
    Please wait a moment whilst we figure out the delegate flow. (This can take
    up to 60 seconds, because IPFS is very, very, very, very slow).
  </p>
</div>
