<div class="topbar">
  <div class="icon">T3</div>
  <div class="links" *ngIf="false">
    <a
      (click)="switchView('unlock')"
      [class.viewLink--active]="view === 'unlock'"
      *ngIf="!(verificationService.profile$ | async)"
      >Unlock</a
    >
    <span class="spacer">|</span>
    <a
      (click)="switchView('vote')"
      [class.viewLink--active]="view === 'vote'"
      *ngIf="verificationService.profile$ | async"
      >Vote</a
    >
    <span class="spacer">|</span>
    <a
      (click)="switchView('tree')"
      [class.viewLink--active]="view === 'tree'"
      *ngIf="false"
      >My Trust Tree</a
    >
  </div>
</div>

<div class="viewWrapper">
  <!-- UNLOCK VIEW -->
  <div *ngIf="view === 'unlock'" class="view--unlock">
    <t3-verification></t3-verification>
  </div>
  <!-- TREE VIEW -->
  <div
    *ngIf="view === 'tree' && (verificationService.profile$ | async)"
    class="view--tree"
  >
    <t3-tree></t3-tree>
  </div>
  <div class="view--vote" *ngIf="verificationService.profile$ | async">
    <!-- Trust component-->
    <t3-trust></t3-trust>
  </div>
</div>
<router-outlet></router-outlet>
