.topbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #eee;
  padding: 16px;
  min-height: 50px;
  min-width: 50px;
  box-sizing: border-box;
  border-bottom: 1px solid #dedede;

  a {
    text-decoration: none;
    color: rgba(cadetblue, 0.7);
    padding: 0px 8px;
    cursor: pointer;

    &.viewLink--active {
      color: rgba(cadetblue, 1);
      font-weight: bold;
    }

    &:last-of-type {
      padding-right: 0px;
    }
  }
  a:hover {
    text-decoration: underline;
  }

  > * {
    padding: 8px;
  }

  .icon {
    border-radius: 50%;
    color: #444;
    background-color: rgba(cadetblue, 0.4);
    border: 1px solid #aaa;
    font-size: 22px;
    padding: 12px;
  }

  .links {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 20px;

    .spacer {
      color: #ddd;
      font-size: 24px;
    }
  }
}
.viewWrapper {
  font-family: Arial, Helvetica, sans-serif;
  color: #444;
  padding: 32px;

  .view--vote {
    text-align: center;
  }
}
